<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Warwick Coffee Online Order</title>
    <section class="top-nav">
        <div>
            Warwick Coffee Online Order
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            <li><form action="/home"><button type="submit">Home</button></form></li>
            <li><form action="/CoffeeShops"><button type="submit">Coffee Shops</button></form></li>
            <li><form action="/login"><button type="submit">Login</button></form></li>
            <li><form action="/register"><button type="submit">Register</button></form></li>
            <li><form action="/Contact"><button type="submit">Contact</button></form></li>
        </ul>
    </section>
</head>

<body>
    <main>
        <section id="introduction">
            <h2>Welcome to Warwick Coffee!</h2>
            <p> Experience the convenience of ordering your favorite coffee online and skip the wait. We are dedicated to
                providing you with a seamless and efficient coffee ordering process.</p>
            <!-- Add an image -->
            <img src="/static/image/coffee.jpg" alt="Coffee"
                width="1000">
        </section>

        <section id="steps">
            <h2>How It Works</h2>
            <ol>
                <li>
                    <h3>Step 1 : Register or Login</h3>
                    <p>Login into your own account and start coffee journey!</p>
                </li>
                <li>
                    <h3>Step 2: Select A Coffee Shop</h3>
                    <p>Select a coffee shop near you in Warwick.</p>
                </li>
                <!-- Add a video -->
                <li>
                    <h3>Step 3: Select Your Coffee </h3>
                    <p>Browse the menu and choose your favorite coffee or beverage.</p>
                </li>
                <li>
                    <h3>Step 4: Place Your Order</h3>
                    <p>Fill out the order form with your details, select quantity, and submit your order online.</p>
                </li>
                <li>
                    <h3>Step 5: Pick Up</h3>
                    <p>Head to our coffee shop and find your order ready for pickup, without waiting in line.</p>
                </li>
            </ol>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Warwick Coffee</p>
    </footer>
</body>

</html>