<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <section class="top-nav">
        <div>
            Warwick Coffee Online Order
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            <li>
                <form action="/home"><button type="submit">Home</button></form>
            </li>
            <li>
                <form action="/CoffeeShops"><button type="submit">Coffee Shops</button></form>
            </li>
            <li>
                <form action="/login"><button type="submit">Login</button></form>
            </li>
            <li>
                <form action="/register"><button type="submit">Register</button></form>
            </li>
            <li>
                <form action="/Contact"><button type="submit">Contact</button></form>
            </li>
        </ul>
    </section>
</head>

<body>
    <section>
        {% with messages = get_flashed_messages(with_categories=false) %}{% if messages %}
        <div class="message">
        {% for message in messages %}
    <p>{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}{% endwith %}
    </section>
    <form action="/login" method="post">
        <div class="container">
            <h1>Login</h1>
            <p>Please fill in this form to login.</p>
            <hr>
            <label for="student_id"><b>Student ID</b></label>
            <input type="text" placeholder="Enter Student ID" name="student_id" id="student_id" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <hr>
            <button type="submit" class="loginbtn">Submit</button>
        </div>
    </form>

</body>

</html>